<!-- TODO - Make this div display all the categrory dinamically, so make it a function, make it DRY-->
<div>

   
    <h1 class="d-flex justify-content-center">Categories</h1>

    <div class="row row-cols-lg-5 row-cols-md-3 row-cols-md-2 hd-grid gap-4 d-flex justify-content-around .h-100">
        <div id="African">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/Africa_%28orthographic_projection%29.svg/1200px-Africa_%28orthographic_projection%29.svg.png" [routerLink]="['/search', 'african']" alt="African Global Map"/>
            <h1 class="d-flex justify-content-center">African</h1>
        </div>
        <div id="American">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/United_States_%28orthographic_projection%29.svg/2000px-United_States_%28orthographic_projection%29.svg.png" [routerLink]="['/search', 'american']" alt="American Global Map"/>
            <h1 class="d-flex justify-content-center">American</h1>
        </div>
        <div id="British">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Europe-UK_%28orthographic_projection%29.svg/250px-Europe-UK_%28orthographic_projection%29.svg.png"[routerLink]="['/search', 'british']" alt="British Global Map"/>
            <h1 class="d-flex justify-content-center">British</h1>
        </div>
        <div id="Caribbean">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Antillas_%28orthographic_projection%29.svg/800px-Antillas_%28orthographic_projection%29.svg.png"[routerLink]="['/search', 'caribbean']" alt="Caribbean Global Map"/>
            <h1 class="d-flex justify-content-center">Caribbean</h1>
        </div>
        <div id="Chinese">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/CHN_orthographic.svg/250px-CHN_orthographic.svg.png" [routerLink]="['/search', 'chinese']" alt="Chinese Global Map"/>
            <h1 class="d-flex justify-content-center">Chinese</h1>
        </div>
        <div id="French">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/EU-France_%28orthographic_projection%29.svg/250px-EU-France_%28orthographic_projection%29.svg.png" [routerLink]="['/search', 'french']" alt="French Global Map"/>
            <h1 class="d-flex justify-content-center">French</h1>
        </div>
        <div id="Korean">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/Korea_%28orthographic_projection%29.svg/250px-Korea_%28orthographic_projection%29.svg.png" [routerLink]="['/search', 'korean']" alt="Korean Global Map"/>
            <h1 class="d-flex justify-content-center">Korean</h1>
        </div>
        <div id="Mexican">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/MEX_orthographic.svg/260px-MEX_orthographic.svg.png" [routerLink]="['/search', 'mexican']" alt="Mexican Global Map"/>
            <h1 class="d-flex justify-content-center">Mexican</h1>
        </div>
    </div>
</div>
