.profile-user-info{
    display: flex;
    flex-direction:row;
    border: 1px solid;
    align-items:center;
    flex-wrap:wrap;
  }
  form{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    border: 1px solid red;
    max-width:650px;
    
  }
  .newsletter{
    display:flex;
    flex-direction:column;
  }
  .newsletter-content{
    display:flex;
    display-direction:row;
  }
  
  
  .sign-out-delete{
    display:flex;
    justify-content:space-between;
  }