<main>
    <h2>Profile</h2>
    <section class="profile-user-info">
        <form>
            <div class="name">
                <label>Full Name</label>
                <input type="text" value="something fromt the db">
            </div>
            <div class="username">
                <label>Username</label>
                <input type="text" value="something fromt the db">
            </div>
            <div class="Email">
                <label>Email</label>
                <input type="email" value="something fromt the db">
            </div>
            <div class="password">
                <label>Password</label>
                <input type="password" value="something fromt the db">
                <div class="update">Update Info</div>
            </div>
        </form>
    </section>
    <section class="newsletter">
        <h4>Newsletter</h4>
    <div class='newsletter-content'>
        <p>You are currently subscribed to our newsletter</p>
        <button>Unsubscribe</button>
      </div>
    </section>
    <div class='sign-out-delete'>
        <p>Sign out</p>
        <p>Delete Account</p>
    </div>
</main>
