<main>
    <h2>Profile</h2>
    <section class="profile-user-info">
        <div id="sign-up-container">
            <div id="sign-up-modal">
              <div class="xmark-icon">
                <i class="fa-solid fa-xmark fa-lg"></i>
              </div>
              <form >
                <div id="entries">
                  <div class="full-name">
                    <div class="first-name">
                      <label>First Name</label>
                      <input type="text" [value]="profile.firstName" name="first" />
                    </div>
                    <div class="last-name">
                      <label>Last Name</label>
                      <input type="text" [value]="profile.lastName" name="last" />
                    </div>
                  </div>
                  <div class="email">
                    <label><i class="fa-regular fa-envelope"></i> Email</label>
                    <input type="email" [value]="profile.email" name="email" />
                  </div>
                  <div class="password">
                    <label><i class="fa-solid fa-lock"></i> Password</label>
                    <input type="password" value="" name="password" placeholder="6+ characters"/>
                  </div>
                </div>
              </form>
            </div>
          </div>
    </section>
    <section class="newsletter">
        <h3>Newsletter</h3>
    <div class='newsletter-content'>
        <p>You are currently subscribed to our newsletter</p>
        <button>Unsubscribe</button>
      </div>
    </section>
    <div class='sign-out-delete'>
      <div class="sign-out">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <p>Sign out</p> 
      </div>
      <p>Delete Account</p>
    </div>
</main>
