<h1>Single Recipe</h1>
<section>
  <header>
    <h1>{{ title }}</h1>
    <div class="recipeMetaData"></div>
  </header>
  <article class="recipeInfoContainer"></article>
  <div class="ingredientsNutritionContainer">
    <article class="ingredientsContainer"></article>
    <h3>Ingredients</h3>
    <ul>
      <li>First Ingredient</li>
    </ul>
    <article class="nutritionContainer">
      <!-- returns html code that should get pasted here -->
    </article>
  </div>
  <article class="instructionsContainer"></article>
</section>
