 <section class='main'>
  <div class="row g-0"*ngFor='let recipe of recipes.results'>
    <div class="col-lg-7" >
      <img src="https://spoonacular.com/recipeImages/{{recipe.id}}-636x393.jpg" class="w-100" alt="photo of food">
    </div>
    <div class="col-lg-5">
      <div class="p-4 p-md-5 d-flex flex-column justify-content-center h-100 position-relative" style="background-color: #e4f1ff;">
  
        <h4 class="my-3">{{recipe.title}}</h4>
        <p class="big pr-0 pr-md-5 pb-3 pb-sm-5 pb-lg-0">Wanna try something new? Check out this pick of the day!</p>
  
      </div>
    </div>
  </div>
  
          <!-- <div *ngFor='let recipe of recipes.results'>
          <img src="https://spoonacular.com/recipeImages/{{recipe.id}}-636x393.jpg" class="img-fluid" alt="photo of food">
        </div> -->

    

    <section>
        <h3>Super Delicious</h3>
        <div class='food-preview border-white'>
          <div  *ngFor='let popular of mostPopular.results'>
          <div class="card" style="width: 18rem; border: none;" >
          <div class='img-zoom'>
            <img [src]='popular.image' class="card-img-top" alt="photo of popular dish" [routerLink]="['/recipe', popular.id]">
          </div>
          <div class="card-body">
            <p [routerLink]="['/recipe', popular.id]" class="card-text">{{popular.title}}</p>
          </div>
        </div>
      </div>
    </div>
    </section>
    <section>
        <h3>Sweet Tooth</h3>
        <div class='food-preview'>
          <div *ngFor='let dessert of desserts.results'> 
            <div class="card" style="width: 18rem; border: none;">
            <div class='img-zoom'>
              <img [src]="dessert.image" class="card-img-top" alt="photo of dessert" [routerLink]="['/recipe', dessert.id]">
            </div>
            <div class="card-body">
              <p class="card-text" [routerLink]="['/recipe', dessert.id]">{{dessert.title}}</p>
          </div>
        </div>
        </div>
      </div>
    </section>
  </section> 