*{
    font-family: sans-serif;
}

#searchHeader{
    padding:none;
}
.resultTitle{
    padding-top: 0%;
}
.resultTitle:hover{
    color:orange;
}
h4{
    margin-top: 0%;
}

#resultImg:hover{
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  transition: 1s ease;
  color:orange;
}

@media screen and (max-width:450px){

    h1{
        font-size: 25px;
    }

    h4{
        font-size: 18px;
        margin-top: 1%;
    }

    #searchHeader{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .resultTitle{
        margin-top: 1%;
        margin-bottom: 0%;
    }
    p{
        justify-content: center;
    }
    .resultTitle:hover{
        color:orange;
    }
    #resultImg{
        width: 100%;
        margin-bottom: 2%;
    }
    
    #resultImg:hover{
      -ms-transform: scale(1.1); /* IE 9 */
      -webkit-transform: scale(1.1); /* Safari 3-8 */
      transform: scale(1.1);
      transition: 1s ease;
        color:orange;
    }
}  
@media screen and (max-width:1024px){

    h1{
        font-size: 25px;
    }
    
    h4{
        font-size: 18px;
        margin-top: 1%;
    }
    
    #searchHeader{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .resultTitle{
         margin-top: 1%;
        margin-bottom: 0%;
    }
    .resultTitle:hover{
        color:orange;
    }
    #resultImg{
        width: 100%;
        margin-bottom: 2%;
    }
        
    #resultImg:hover{
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1);
        transition: 1s ease;
        color:orange;
    }
}
    

