/* You can add global styles to this file, and also import other style files */
html {
  max-width: 80%;
  margin: auto;
  justify-self: center;
  font-family: Trebuchet MS, sans-serif!important;
}
@media screen and (max-width:450px){
  html{
    max-width: 80%;
    margin: auto;
  }
}
@media screen and (max-width:1024px){
  html{
    max-width: 80%;
    margin: auto;
  }
}