h3 {
  font-size: 1.3rem;
  color: #f4642d;
  font-weight: bold;
}

h5 {
  font-weight: bold;
  color: #f4642d;
}

p {
  margin: 0;
}

header {
  margin-bottom: 40px;
}

section {
  margin-left: 20px;
  margin-bottom: 60px;
}

.description {
  margin-bottom: 10px;
}

.response-type {
  margin: 10px 0;
}

.url-code{
  display: flex;
}


.url-container {
  display: flex;
  background-color: #343a40;
  color: white;
  padding: 10px;
  justify-content: space-between;
}

.method{
  color: #f4642d;
  margin: 0 20px 0 10px;
}

.api-button{
  background-color: #f4642d;
  color: whitesmoke;
  border-radius: 8px;
  border-style: none;
}

