*{
    font-family: sans-serif;
}

.logo{
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

hr{
    background-color: black;
}
#navContainer {
    margin-top: 0%!important;
    margin-bottom: 0%;
}
.container-fluid{
    display: flex;
    justify-content: space-between;
}

#navbar-left{
    width: 55%;
    display: flex;
    justify-content: space-between;
    color: #f4642d;
}

.fs-3 {
  color: black;
}

.fs-3:hover, .login-icon:hover, .uk-navbar-toggle:hover{
  color:#f4642d;
}

.active {
  font-weight: bold;
  color: #f4642d
}

.uk-search-input::placeholder{
  color: #f4642d;
  opacity: .5;
}

@media screen and (max-width:450px){
    
    #navbar-left{
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
    a{
        font-size: 18px!important;
    }
    .container-fluid, .uk-background-default {
        padding: 0;
    }
    .uk-search-large .uk-search-input {
        font-size: 1.5rem;
    }
    .container-fluid, .uk-background-default {
      padding: 0;
    }
    .uk-search-large .uk-search-input {
      font-size: 1.5rem;
    }
}