<div class="logo">
    <img src ="./assets/tinyBytesLogo.jpeg" width=275>
</div>
<hr size="5" width="100%" background-color="black"> 
<nav class="navbar navbar-light bg-light ">
    <div class="container-fluid">
        <a class="fs-4 text-dark" routerLink= "">Home</a>
        <a class="fs-4 text-dark" routerLink= "categories">Cuisines</a>
        <a class="fs-4 text-dark" routerLink= "searchResults">Search</a>
      <form class="d-flex">
        <input id="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" (click)="startSearch();" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <hr size="5" width="100%" > 


  <div *ngIf="loadComponent">
    <h3>Search Results:</h3>
    <div class="row">
      <div *ngFor="let result of results.results" class="col-2 card">
          <img class="card-img-top" [src]="result.image" alt="Card image cap"/>
           <p>{{result.title}}</p>
      </div>
  </div> 
</div>