*{
    font-family: sans-serif;
}

.logo{
    display: flex;
    justify-content: center;
}

hr{
    background-color: black;
}
#navContainer {
    margin-top: 0%!important;
    margin-bottom: 0%;
}
.container-fluid{
    display: flex;
    justify-content: space-between;
}

#navbar-left{
    width: 55%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:450px){
    
    #navbar-left{
        flex-direction: row;
        align-items: flex-start;
    }
    a{
        font-size: 18px!important;
    }
    .card{
        width:100%;
        display: flex;
        flex-direction: column;  
        justify-content: center;  
    }
}